.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  padding-right: 0;
  border-radius: var(--mantine-radius-sm);
}

.item_no_hover {
  &:hover {
    background-color: transparent;
    cursor: auto;
  }
}
